@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

input {
    font-family: 'Space Grotesk';
}
input::-moz-placeholder {
    font-family: 'Space Grotesk';
}
input::-webkit-input-placeholder {
    font-family: 'Space Grotesk';
}

.App {
    font-family: 'Space Grotesk';
    text-align: center;
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #333333;
    box-shadow: 0px 5px 5px #222222;
}

